.Default-Box-Set{
    font-size: 200%;
    padding: 5%;
}

.SubBG {
    background-color:#212F3D;
    color: white;
    text-align: center;    
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 0%;
}
.SubBG-TextSet {
    background-color:transparent;
    color: #273746;
    padding-top: 0%;
    padding-bottom: 0%;
    text-align: left;
    font-size: 50%;
    
}
.Search-Set-button {
    padding-left: 6%;
    padding-right: 8.3%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color:#D6EAF8;
}
.icon-set-container {
    padding-right: 1%;
    padding-bottom: 1%;
}

.buttonW {
    width: "100px"
    
  }



/* .page-set {
    text-align: center;
    font-size: 150%;
    background-image: url('http://upic.me/i/2i/1375722ymy0vhteie.gif');
    background-repeat: repeat;
    
} */
/*------------------- Login-Set -------------------*/

.background-Login{
    height:500px;
    background-image : url(https://i.giphy.com/media/9J8K8WEWLXZk7s0OMB/giphy.webp);
    background-position: 100% ;
    background-size:100%;
    background-repeat:no-repeat;
  }

.g-signin{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}


.Login-Set{
    text-align: center;
   
    border: 2px solid #D6EAF8;

    padding-left:55%;
    padding-right: 0%;
    font-size: 250%;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/equipmentdb-97b5d.appspot.com/o/IMG_2151.jpg?alt=media&token=83ace5b7-ba4c-49fc-b410-ab0962ce73ce") ;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    background-position-x: center;


}

/* .Login-Box-set{
max-width: 900px;

} */

.Login-label {
    display: inline-block;
    margin-bottom: 1.5rem;
    font-size: 50%;
}

.LoginText {
    color: red;
    font-size: 0.5cm;
    margin-top: 0;
}

/*------------------- HomePage-Set -------------------*/

.Card-Set{
padding-left: 5%;
padding-right: 5%;
padding-bottom: 5%;
}

.Card-Set-Col{
margin-bottom: 5%;
}
/* .Home-Set-Title{
padding-top: 5%;
padding-bottom: 5%;

}
.Home-Set-Title-2{
padding-top: 5%;
padding-bottom: 5%;
margin-left: 5%;
margin-right: 5%;

} */
.Home-Set{
    padding-top: 5%;
}

.Home-Set-2{
    padding-top: 5%;
    text-align: center;
   

}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;    
    padding: 1.25rem;
    background-color:aliceblue;
    color:#212F3D;
    text-align: center;
    
}

/*------------------- InsertEM -------------------*/

.InsertLabel-Set{
    text-align: left;
    margin-top: 5%;
    margin-bottom: 0%;
    margin-right: 0%;
    font-size: 100%;
}

.InsertBox-Set{
    text-align: left;
    margin-top: 7%;
}

.Form-Set-Insert{
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
}

.Img-Set{
    padding-left: 50%;
    padding-right: 50%;

    margin-top: 5%;
    margin-bottom: 5%;
    
}

.radio-set{
    padding-left: 15px;
    padding-top: 6.3%;
    text-align: left;
}

/*  */
.CardTest{
    padding: 3%;
    margin: 0%;
    }

/* Edit */

.ImgText{
    font-size: 20px;
    font-size: 20px;
}
.ImgEdit{
    border: 3px solid #555;
}

/*  Report  */

.ReportSetBoder{
    border-top: 3px solid white;
    border-bottom: 3px solid white;


}

/* Rules */
.EditButton{
    text-align: center;
    padding-bottom: 20px;

}

.ImgRules{
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    background-size: cover;
    background-position-x: center;
}

/* InsertEM */
.UiSet{
    cursor: pointer;
    border-left: 1px solid rgb(214, 211, 211);
    border-right: 1px solid rgb(214, 211, 211);
    border-bottom: 1px solid rgb(214, 211, 211);
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: left;
    color: rgb(124, 117, 117);
}
.UiSet:hover{
    background-color: #D6EAF8;
}

.DataResult{
max-height: 150px;
background-color: white;
box-shadow: rgba(0,0,0,0.5) 0px 5px 15px;
overflow:hidden;
overflow-y:auto;
}

